<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /StudioPinkEditor/vue/editor/
  RewriteRule ^StudioPinkEditor/vue/editor/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /StudioPinkEditor/vue/editor/index.html [L]
</IfModule>